<%= form_for @team, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :reference, "Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reference, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :league_id, "League", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :league_id, League.all.collect {|l| [l.name, l.id]} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                teams_path, :class => 'btn' %>
  </div>
<% end %>
