<%= form_for @match, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :start_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_time, :class => 'text_field datepicker', :value => (@match.start_time || Time.now).to_formatted_s()  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_time, :class => 'text_field datepicker', :value => (@match.end_time || (Time.now + 1.days)).to_formatted_s()  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :home_team_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :home_team_id, Team.all.collect {|l| [l.long_name, l.id]} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :away_team_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :away_team_id, Team.all.collect {|l| [l.long_name, l.id]} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :spread, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :spread, :class => 'text_field', :value => 0 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :home_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :home_score, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :away_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :away_score, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :league_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :league_id, League.all.collect {|l| [l.name, l.id]} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matches_path, :class => 'btn' %>
  </div>
<% end %>
