<%
pick ||= @pick
pool = pick.pool
%>
<td><%= pick.match.long_name %></td>
<td><%= pick.match.spread %></td>
<td id="pick_<%=pick.id%>_row">
<%= pick_link(pick, pick.match.home_team, true) %>
<%= pick_link(pick, pick.match.away_team, false) %>
<%= form_for pick, :html => { :class => 'ajax hidden' } do |f| %>
  <%= f.hidden_field :player_id %>
  <%= f.hidden_field :match_id %>
  <%= f.hidden_field :pool_id %>
  <div class="control-group">
    <%= f.label :winner, :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :winner, "0", :checked => true %> Home
      <%= f.radio_button :winner, "1" %> Away
    </div>
  </div>
  <%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>
</td>
